.calculator {
  margin: 0 0 42px 0;
}
.flex__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @include media('<1120px') {
    flex-direction: column;
  }
  &--item-left {
    max-width: 675px;
    flex: 0 0 100%;
    @include media('<1120px') {
      max-width: 100%;
      width: 100%;
    }
  }
  &--item-right {
    max-width: 414px;
    flex: 0 0 100%;
    @include media('<1120px') {
      max-width: 100%;
      width: 100%;
      position: absolute;
      z-index: 999;
      left: 0;
      top: 50%;
      right: 0;
      //bottom: 0;
      //height: 93px;
      //overflow: hidden;
      //transform: translate(0, 50%);
      //height: 100%;
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.24);
    }
  }
}