body {
  background: url("../images/main_bg.jpg") no-repeat;
  background-position: top center;
  background-size: cover;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}
//@include media(">medium", "<=large") {
//
//  width: 100%;
//
//}